<div id="nav">
  <%= link_to "home", :controller => :home %>
  |
  <%= link_to "blurbs", :controller => :blurbs %>
  |
  <%= link_to "networks", :controller => :networks %>
  |
  <%= link_to "log out", :controller => :sessions, :action => :destroy %>
</div>
