<div id="nav">
  <%= link_to "home", :host => root_host, :controller => :home %>
  |
  <%= link_to "blog", :host => blog_host, :controller => :posts %>
  |
  <%= link_to "blurbs", :host => root_host, :controller => :blurbs %>
  |
  <%= link_to "networks", :host => root_host, :controller => :networks %>
</div>
