<a href="http://github.com/bensonk"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_green_007200.png&path=" alt="Fork me on GitHub"></a>

<%= render :partial => 'links' %>

<%= render :partial => 'blurb', :collection => @blurbs %>
