<div id="historical_posts">
  <h2>
    <%= link_to "Blog Posts", :action => "index" %>
    <% if @current_user and @current_user.admin? %>
      <%= link_to image_tag("page_add.png"), :controller => "posts", :action => "new" %>
    <% end %>
  </h2>
  <% historical_posts.each do |month, posts| %>
    <div class="month">
      <h4><%= month %></h4>
      <ul>
        <% posts.sort_by(&:created_at).reverse.each do |p| %>
        <li><%= link_to p.title, blog_post_url(p) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
