<!DOCTYPE html>
<html>
<head>
  <title>Benson Kalahar</title>
  <%= stylesheet_link_tag "screen.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
